<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zg.mapper.ItemMapper" >
  <resultMap id="BaseResultMap" type="com.zg.po.Item" >
    <id column="item_id" property="itemId" jdbcType="INTEGER" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="item_name" property="itemName" jdbcType="VARCHAR" />
    <result column="item_price" property="itemPrice" jdbcType="REAL" />
    <result column="item_pic" property="itemPic" jdbcType="VARCHAR" />
    <result column="item_create_time" property="itemCreateTime" jdbcType="TIMESTAMP" />
    <result column="item_buy_time" property="itemBuyTime" jdbcType="DATE" />
    <result column="item_state" property="itemState" jdbcType="INTEGER" />
    <result column="item_school" property="itemSchool" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.zg.po.Item" extends="BaseResultMap" >
    <result column="item_detail" property="itemDetail" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    item_id, user_name, item_name, item_price, item_pic, item_create_time, item_buy_time, 
    item_state, item_school
  </sql>
  <sql id="Blob_Column_List" >
    item_detail
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.zg.po.ItemExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from item
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.zg.po.ItemExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from item
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from item
    where item_id = #{itemId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from item
    where item_id = #{itemId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.zg.po.ItemExample" >
    delete from item
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zg.po.Item" >
    insert into item (item_id, user_name, item_name, 
      item_price, item_pic, item_create_time, 
      item_buy_time, item_state, item_school, 
      item_detail)
    values (#{itemId,jdbcType=INTEGER}, #{userName,jdbcType=VARCHAR}, #{itemName,jdbcType=VARCHAR}, 
      #{itemPrice,jdbcType=REAL}, #{itemPic,jdbcType=VARCHAR}, #{itemCreateTime,jdbcType=TIMESTAMP}, 
      #{itemBuyTime,jdbcType=DATE}, #{itemState,jdbcType=INTEGER}, #{itemSchool,jdbcType=VARCHAR}, 
      #{itemDetail,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zg.po.Item" >
    insert into item
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="itemId != null" >
        item_id,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="itemName != null" >
        item_name,
      </if>
      <if test="itemPrice != null" >
        item_price,
      </if>
      <if test="itemPic != null" >
        item_pic,
      </if>
      <if test="itemCreateTime != null" >
        item_create_time,
      </if>
      <if test="itemBuyTime != null" >
        item_buy_time,
      </if>
      <if test="itemState != null" >
        item_state,
      </if>
      <if test="itemSchool != null" >
        item_school,
      </if>
      <if test="itemDetail != null" >
        item_detail,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="itemId != null" >
        #{itemId,jdbcType=INTEGER},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="itemName != null" >
        #{itemName,jdbcType=VARCHAR},
      </if>
      <if test="itemPrice != null" >
        #{itemPrice,jdbcType=REAL},
      </if>
      <if test="itemPic != null" >
        #{itemPic,jdbcType=VARCHAR},
      </if>
      <if test="itemCreateTime != null" >
        #{itemCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="itemBuyTime != null" >
        #{itemBuyTime,jdbcType=DATE},
      </if>
      <if test="itemState != null" >
        #{itemState,jdbcType=INTEGER},
      </if>
      <if test="itemSchool != null" >
        #{itemSchool,jdbcType=VARCHAR},
      </if>
      <if test="itemDetail != null" >
        #{itemDetail,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zg.po.ItemExample" resultType="java.lang.Integer" >
    select count(*) from item
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update item
    <set >
      <if test="record.itemId != null" >
        item_id = #{record.itemId,jdbcType=INTEGER},
      </if>
      <if test="record.userName != null" >
        user_name = #{record.userName,jdbcType=VARCHAR},
      </if>
      <if test="record.itemName != null" >
        item_name = #{record.itemName,jdbcType=VARCHAR},
      </if>
      <if test="record.itemPrice != null" >
        item_price = #{record.itemPrice,jdbcType=REAL},
      </if>
      <if test="record.itemPic != null" >
        item_pic = #{record.itemPic,jdbcType=VARCHAR},
      </if>
      <if test="record.itemCreateTime != null" >
        item_create_time = #{record.itemCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.itemBuyTime != null" >
        item_buy_time = #{record.itemBuyTime,jdbcType=DATE},
      </if>
      <if test="record.itemState != null" >
        item_state = #{record.itemState,jdbcType=INTEGER},
      </if>
      <if test="record.itemSchool != null" >
        item_school = #{record.itemSchool,jdbcType=VARCHAR},
      </if>
      <if test="record.itemDetail != null" >
        item_detail = #{record.itemDetail,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update item
    set item_id = #{record.itemId,jdbcType=INTEGER},
      user_name = #{record.userName,jdbcType=VARCHAR},
      item_name = #{record.itemName,jdbcType=VARCHAR},
      item_price = #{record.itemPrice,jdbcType=REAL},
      item_pic = #{record.itemPic,jdbcType=VARCHAR},
      item_create_time = #{record.itemCreateTime,jdbcType=TIMESTAMP},
      item_buy_time = #{record.itemBuyTime,jdbcType=DATE},
      item_state = #{record.itemState,jdbcType=INTEGER},
      item_school = #{record.itemSchool,jdbcType=VARCHAR},
      item_detail = #{record.itemDetail,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update item
    set item_id = #{record.itemId,jdbcType=INTEGER},
      user_name = #{record.userName,jdbcType=VARCHAR},
      item_name = #{record.itemName,jdbcType=VARCHAR},
      item_price = #{record.itemPrice,jdbcType=REAL},
      item_pic = #{record.itemPic,jdbcType=VARCHAR},
      item_create_time = #{record.itemCreateTime,jdbcType=TIMESTAMP},
      item_buy_time = #{record.itemBuyTime,jdbcType=DATE},
      item_state = #{record.itemState,jdbcType=INTEGER},
      item_school = #{record.itemSchool,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zg.po.Item" >
    update item
    <set >
      <if test="userName != null" >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="itemName != null" >
        item_name = #{itemName,jdbcType=VARCHAR},
      </if>
      <if test="itemPrice != null" >
        item_price = #{itemPrice,jdbcType=REAL},
      </if>
      <if test="itemPic != null" >
        item_pic = #{itemPic,jdbcType=VARCHAR},
      </if>
      <if test="itemCreateTime != null" >
        item_create_time = #{itemCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="itemBuyTime != null" >
        item_buy_time = #{itemBuyTime,jdbcType=DATE},
      </if>
      <if test="itemState != null" >
        item_state = #{itemState,jdbcType=INTEGER},
      </if>
      <if test="itemSchool != null" >
        item_school = #{itemSchool,jdbcType=VARCHAR},
      </if>
      <if test="itemDetail != null" >
        item_detail = #{itemDetail,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where item_id = #{itemId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.zg.po.Item" >
    update item
    set user_name = #{userName,jdbcType=VARCHAR},
      item_name = #{itemName,jdbcType=VARCHAR},
      item_price = #{itemPrice,jdbcType=REAL},
      item_pic = #{itemPic,jdbcType=VARCHAR},
      item_create_time = #{itemCreateTime,jdbcType=TIMESTAMP},
      item_buy_time = #{itemBuyTime,jdbcType=DATE},
      item_state = #{itemState,jdbcType=INTEGER},
      item_school = #{itemSchool,jdbcType=VARCHAR},
      item_detail = #{itemDetail,jdbcType=LONGVARCHAR}
    where item_id = #{itemId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zg.po.Item" >
    update item
    set user_name = #{userName,jdbcType=VARCHAR},
      item_name = #{itemName,jdbcType=VARCHAR},
      item_price = #{itemPrice,jdbcType=REAL},
      item_pic = #{itemPic,jdbcType=VARCHAR},
      item_create_time = #{itemCreateTime,jdbcType=TIMESTAMP},
      item_buy_time = #{itemBuyTime,jdbcType=DATE},
      item_state = #{itemState,jdbcType=INTEGER},
      item_school = #{itemSchool,jdbcType=VARCHAR}
    where item_id = #{itemId,jdbcType=INTEGER}
  </update>
</mapper>