<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zg.mapper.UserMapper" >
  <resultMap id="BaseResultMap" type="com.zg.po.User" >
    <id column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="user_gender" property="userGender" jdbcType="INTEGER" />
    <result column="user_avatar" property="userAvatar" jdbcType="VARCHAR" />
    <result column="user_province" property="userProvince" jdbcType="VARCHAR" />
    <result column="user_country" property="userCountry" jdbcType="VARCHAR" />
    <result column="user_city" property="userCity" jdbcType="VARCHAR" />
    <result column="open_id" property="openId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    user_id, user_name, user_gender, user_avatar, user_province, user_country, user_city, 
    open_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.zg.po.UserExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from user
    where user_id = #{userId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user
    where user_id = #{userId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.zg.po.UserExample" >
    delete from user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zg.po.User" >
    insert into user (user_id, user_name, user_gender, 
      user_avatar, user_province, user_country, 
      user_city, open_id)
    values (#{userId,jdbcType=INTEGER}, #{userName,jdbcType=VARCHAR}, #{userGender,jdbcType=INTEGER}, 
      #{userAvatar,jdbcType=VARCHAR}, #{userProvince,jdbcType=VARCHAR}, #{userCountry,jdbcType=VARCHAR}, 
      #{userCity,jdbcType=VARCHAR}, #{openId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zg.po.User" >
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        user_id,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="userGender != null" >
        user_gender,
      </if>
      <if test="userAvatar != null" >
        user_avatar,
      </if>
      <if test="userProvince != null" >
        user_province,
      </if>
      <if test="userCountry != null" >
        user_country,
      </if>
      <if test="userCity != null" >
        user_city,
      </if>
      <if test="openId != null" >
        open_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userGender != null" >
        #{userGender,jdbcType=INTEGER},
      </if>
      <if test="userAvatar != null" >
        #{userAvatar,jdbcType=VARCHAR},
      </if>
      <if test="userProvince != null" >
        #{userProvince,jdbcType=VARCHAR},
      </if>
      <if test="userCountry != null" >
        #{userCountry,jdbcType=VARCHAR},
      </if>
      <if test="userCity != null" >
        #{userCity,jdbcType=VARCHAR},
      </if>
      <if test="openId != null" >
        #{openId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zg.po.UserExample" resultType="java.lang.Integer" >
    select count(*) from user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update user
    <set >
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.userName != null" >
        user_name = #{record.userName,jdbcType=VARCHAR},
      </if>
      <if test="record.userGender != null" >
        user_gender = #{record.userGender,jdbcType=INTEGER},
      </if>
      <if test="record.userAvatar != null" >
        user_avatar = #{record.userAvatar,jdbcType=VARCHAR},
      </if>
      <if test="record.userProvince != null" >
        user_province = #{record.userProvince,jdbcType=VARCHAR},
      </if>
      <if test="record.userCountry != null" >
        user_country = #{record.userCountry,jdbcType=VARCHAR},
      </if>
      <if test="record.userCity != null" >
        user_city = #{record.userCity,jdbcType=VARCHAR},
      </if>
      <if test="record.openId != null" >
        open_id = #{record.openId,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update user
    set user_id = #{record.userId,jdbcType=INTEGER},
      user_name = #{record.userName,jdbcType=VARCHAR},
      user_gender = #{record.userGender,jdbcType=INTEGER},
      user_avatar = #{record.userAvatar,jdbcType=VARCHAR},
      user_province = #{record.userProvince,jdbcType=VARCHAR},
      user_country = #{record.userCountry,jdbcType=VARCHAR},
      user_city = #{record.userCity,jdbcType=VARCHAR},
      open_id = #{record.openId,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zg.po.User" >
    update user
    <set >
      <if test="userName != null" >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userGender != null" >
        user_gender = #{userGender,jdbcType=INTEGER},
      </if>
      <if test="userAvatar != null" >
        user_avatar = #{userAvatar,jdbcType=VARCHAR},
      </if>
      <if test="userProvince != null" >
        user_province = #{userProvince,jdbcType=VARCHAR},
      </if>
      <if test="userCountry != null" >
        user_country = #{userCountry,jdbcType=VARCHAR},
      </if>
      <if test="userCity != null" >
        user_city = #{userCity,jdbcType=VARCHAR},
      </if>
      <if test="openId != null" >
        open_id = #{openId,jdbcType=VARCHAR},
      </if>
    </set>
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zg.po.User" >
    update user
    set user_name = #{userName,jdbcType=VARCHAR},
      user_gender = #{userGender,jdbcType=INTEGER},
      user_avatar = #{userAvatar,jdbcType=VARCHAR},
      user_province = #{userProvince,jdbcType=VARCHAR},
      user_country = #{userCountry,jdbcType=VARCHAR},
      user_city = #{userCity,jdbcType=VARCHAR},
      open_id = #{openId,jdbcType=VARCHAR}
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
</mapper>