li {
  list-style-type: none; }

@font-face {
  font-family: 'iconfont';
  src: url("../fonts/iconfont.eot");
  src: url("../fonts/iconfont.eot?#iefix") format("embedded-opentype"),
  url("../fonts/iconfont.woff") format("woff"),
  url("../fonts/iconfont.ttf") format("truetype"),
  url("../fonts/iconfont.svg#iconfont") format("svg"); }

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale; }

.index-control {
  position: absolute;
  top: 0;
  left: 10rem;
  cursor: pointer;
  color: #fff;
  font-size: 1.4rem;
  height: 3rem;
  line-height: 3.5rem;
  opacity: .7;
  transition: 1s;
  transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -o-transform: rotateY(180deg); }
  .index-control:hover {
    opacity: 1; }

.index-control-click {
  transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
  -o-transform: rotateY(0deg); }

.left-box {
  width: 12rem;
  position: fixed;
  top: 3.5rem;
  left: 0;
  bottom: 0;
  background: #7CA9AF;
  z-index: 99;
  box-sizing: border-box;
  padding: 0;
  padding-top: 1rem;
  overflow: hidden;
  margin-bottom: 0;
  transition: 1s; }
  .left-box li {
    box-sizing: border-box;
    padding: 0 1rem;
    height: 3rem;
    line-height: 3rem;
    width: 100%;
    color: #fff;
    cursor: pointer; }
    .left-box li i {
      width: 1.6rem;
      text-align: center;
      display: inline-block; }
    .left-box li:hover {
      background: #3c4248; }
    .left-box li.active {
      background: #3c4248; }

.left-box-click {
  width: 0; }

.right-box {
  position: fixed;
  top: 3.5rem;
  left: 12rem;
  right: 0;
  bottom: 0;
  overfliw: hidden;
  transition: 1s; }
  .right-box iframe {
    position: relative;
    width: 100%;
    height: 100%;
    border: none; }

.right-box-click {
  left: 0; }
